<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title> Fruit Log </title>
    </head>
    
    <body>
        <header>
            <h1> Fruit Log </h1>
            <nav>
                <ul class="navbar"> 
                    <li class="navbar-item"> <a href="/"> Home </a></li>
                    <!-- <li class="navbar-item"> <a href="/post"> Post </a></li> -->
                </ul>
            </nav>
        </header>

        <main>
            [% content %]
        </main>

        <footer>
            <div class="copyright">
            </div>
        </footer>
    </body>

</html>
