<link rel="stylesheet" href="/css/index.css">
<div class="main-content">

    <ul>
        [% FOREACH img IN imgs %]
            <li class="image"><img src="data:image/jpeg;base64,[%img.content%]"></li>
        [% END %]
    <ul>

</div>
