<link rel="stylesheet" href="/css/index.css">
<div class="main-content">

    <ul>
        [% FOREACH img IN imgs %]
            <li class="image">
                <img src="data:image/jpeg;base64,[%img.content%]"> 
                <p class="date"> [% img.date_posted %] </p> 
            </li>
        [% END %]
    <ul>

</div>
